.mx-12v {
    margin-left: 12vw !important;
    margin-right: 12vw !important;
}

.nav-link {
    color: rgba(0, 0, 0, 0.66) !important;
    text-decoration: none !important;
}

.nav-link:hover {
    text-decoration: underline !important;
}

.footer-link {
    text-decoration: underline !important;
}

.footer-link:hover {
    text-decoration: none !important;
}

.bg-black {
    background-color: #212529 !important;
}

.text-black {
    color: #212529 !important;
}